@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #85a8c5;
}

.carousel {
  overflow: hidden;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* padding-left: 4px; */
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  /* width: 100%; */
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 476px;
  background-color: #fff;
  /* padding: 8px; */
  width: 100%;
}

.btn.news-btn {
  color: #fff;
  background-color: #0d6efd;
  display: inline-block;
  font-size: 20px;
  padding: 14px 18px;
  margin-bottom: 6px;
  text-decoration: none;
}
/* background-image: url("Media/banner10.png"); */

/* .carousel-img {
  width: 250px;
  padding: 0 20px 0 20px;
} */

.carousel-item h4 {
  color: #e5ebf1;
  font-size: 32px;
}

.carousel-item-text {
  font-size: 1.15rem;
  margin: 40px 0 40px 0;
  /* padding: 0 20px 0 20px; */
  white-space: normal;
  color: #e5ebf1;
}

.carousel-buttons {
  display: flex;
  justify-content: space-evenly;
}

.button-arrow {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.indicators {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.indicator-buttons {
  border: none;
  cursor: pointer;
}

.indicators > button {
  margin: 5px;
  background: none;
}

.indicator-symbol {
  color: #26343f;
}

.indicator-symbol-active {
  color: #fff;
}
.carousel-container {
  display: flex;
}

.vertical-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: auto;
  /* margin-left: 20px; */
  width: 40%;
  height: 476px;
  border: 1px solid #ffffffa7;
  border-left: none;
}

.list-item {
  width: 100%;
  cursor: pointer;
  padding: 20px 10px;
  /* margin-bottom: 10px; */
  background-color: #fff;
  transition: background-color 0.3s;
}

/* .list-item:hover {
  background-color: #f0f0f0;
} */

.list-item-active {
  background-color: #85a8c5;
  color: #fff;
}
